/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #1c7ed6;
    --color-blue-light: #89D4FC;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;    
}

a {
    text-decoration: none; /*밑줄 제거*/
    color: var(--color-white);
}

ul {    
    padding-left: 0;
}

li {
    list-style: none; /*땡땡이 없애기*/
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
  /* --------Typography-------- */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* --------Navbar-------- */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-blue);
    align-items: center;
    color: var(--color-white);
    padding: 16px;
}

.navbar__menu {
    display:flex;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer; /*마우스 올렸을때 손가락모양*/
}

.navbar__menu__item.active { /*메뉴가 클릭됐을때*/
    border: 1px solid white;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
    background-color: var(--color-blue-light);
    color: var(--color-dark-grey);
    border-radius: var(--size-border-radius);
    transition: 0.5s;
}

#home {
    background: url('imgs/background.jpg') center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home__avatar {
    width: 250px;    
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white)
}

.home__title,
.home__description {
    color: var(--color-white)
}

.home__contact {
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    color: var(--color-white);
}

/* --------Section common--------*/

.section { /*섹션 공통*/
    padding: 50px;
    text-align: center;    
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}
/* --------About-------- */

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto; /*가운데 정렬*/
    border: 1px solid var(--color-blue-light);
    color: var(--color-blue-light);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major__icon:hover {
    background-color: var(--color-blue-light);
    transition: var(--animation-duration);
}

/*major__icon위에 커서를 대면 i태그에 적용되는 css*/
.major__icon:hover i { 
    color: var(--color-blue);
    transform: scale(1.3);    
}

.major__icon i { 
    transition: all var(--animation-duration) ease; /*모든 속성값을 350ms동안 ease옵션*/
}

.job {
    display: flex; /*한줄에 하나씩*/
    align-items: center;    
}

.job__description {
    margin: 0 16px;
    text-align: left;
}

.job__name,
.job__period {
    color: var(--color-light-grey);
}

.job__name {
    font-size: var(--font-small);
}

.job__period {
    font-size: var(--font-micro);    
}

/* --------Skill--------*/

#skill {
    background-color: var(--color-blue-light);
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white)
    margin: 20px 0;
}

.skillset__title {
    color: var(--color-white);
}

.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skillset__right {
    flex-basis: 40%;
}

.skill {
    margin-bottom: 32px;
}

.skill__value {    
    height: 3px;
    background-color: var(--color-blue);
}

.skill__description {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.tools,
.etc {
    padding: 20px;
}

/* --------Work--------*/
.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.work__categories {
    margin: 40px;
}

/* 버튼이 활성화 돼있거나 커서가 가리킬때*/
.category__btn.active,
.category__btn:hover {
    background-color: var(--color-blue-light);
    transition: var(--animation-duration);
}

/*
카테고리 버튼이 활성화 될때랑
카테고리 버튼위에 커서가 올라가있을때만
카테고리 카운트에 적용되는 CSS
*/
.category__btn.active .category__count,
.category__btn:hover .category__count {
    opacity: 1; /*투명도 0 ~ 1*/
    top: 0;
}

.category__count {
    opacity: 0;
    background-color: var(--color-dark-grey);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px; /*숫자를 중간에 정렬*/
    display: inline-block; /*원을 동그랗게 만들자*/   
    position: relative;
    top: -20px;
    left: 4px;
    transition: all var(--animation-duration) ease-in;
}

.work__projects {
    display: flex;
    flex-wrap: wrpa;
    justify-content: center;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}

.project:hover .project__description,
.project:hover .project__description h3,
.project:hover .project__description span{
    opacity: 0.7;
    transform: translateY(0px);
}

.project__img { /*project__img는 project를 넘어갈 수 없다*/
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    /*
    position: absolute를 쓰게되면 근접한 부모노드 중에서
    position이 static이 아닌 첫번째 부모를 기준으로 작동하기 때문에
    부모노드의 position을 잘 설정해주자
    */
    position: absolute;
    background-color: black;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;    
    transition: all 200ms ease-in;
}

.project__description h3 {
    color: var(--color-white)
}

.project__description h3,
.project__description span{
    transform: translateY(15px);
    transition: all 200ms ease-in;
}

.project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

/* Testimonial */
#testimonials {
    background-color: var(--color-light-white);    
}

.testimonials {
    margin: 40px;    
}

.testimonial {
    display: flex;
    margin: 32px 0;
}

.testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) { /*홀수*/
    margin-right: 40px;
}
.testimonial__avatar:nth-child(even) { /*짝수*/
    margin-left: 40px;
}

.testimonial__speech-bubble {
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
    color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
    color: var(--color-blue-light);
}

.testimonial__speech-bubble a:hover {
    color: var(--color-blue);
}